DB_URL=jdbc:postgresql://localhost:5433/sentinelprime
DB_USERNAME=postgres
DB_PASSWORD=postgres
FRONTEND_URL=http://localhost:5173
JWT_SECRET=sentinelprime-secret-key-must-be-at-least-64-characters-long-for-hs512
JWT_EXPIRATION=86400000
PORT=8080
